.product-card {
  display: flex;
  margin: 5px;
  margin-left: 2x5px;
  margin-right: 5px;
  margin-top: 10px;
  
}

.product-card:hover {
    transform: scale(1.1)
}

.productCardImg {
  height: 200px;
  width: 200px;
  object-fit: cover;
}   